/* purgecss start ignore */
@tailwind base;
@tailwind components;

/* Transitions for Mobile Menu */
.onScreen {
  transition-duration: 0.15s;
  transition-delay: 0s;
  background-color: transparent;
}

.offScreen {
  transform: translateX(-100%);
  transition-duration: 0.15s;
  transition-delay: 0s;
}

/* Instagram Banner SVG Background */
.banner-background {
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%235886b2' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

/* Clip Path for index page photo */
.index-image-clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}

/* Markdown Headers */
.markdown h1 {
  @apply text-4xl text-textDark my-12 font-bold font-content;
}

/* Markdown Content */
.markdown p {
  @apply mx-4 mb-8 text-xl font-content leading-loose;
}

/* Markdown Lists */
.markdown li > p,
.markdown li > ul,
.markdown li > ol {
  @apply mb-0;
}

.markdown ul {
  @apply list-disc text-center text-xl;
}

.markdown ol {
  @apply list-decimal text-center;
}

/* Markdown Images */
.markdown img {
  @apply mx-auto;
}

/* Markdown Desktop Breakpoint */
@media (min-width: 1024px) {
  .markdown p {
    @apply mx-auto w-1/2;
  }
}

/* Overwrite IG Package CSS */
.ig-posts {
  @apply p-0 !important;
}

.ig-posts a.wrapper {
  @apply h-552 border-0 !important;
}

.ig-posts img {
  @apply object-cover object-top !important;
}

@media (max-width: 768px) {
  .ig-posts,
  .ig-posts__grid {
    @apply flex flex-col mx-4 !important;
  }

  .ig-posts a.wrapper {
    @apply mb-4 !important;
  }
}
/* purgecss end ignore */
@tailwind utilities;
